{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Book | Flight</title>
    <link rel="stylesheet" href="{% static 'css/book_style.css' %}">
    <script type="text/javascript" src="{% static 'js/book.js' %}"></script>
{% endblock %}

{% block body %}
    <section class="section section1">
        <form action="{% url 'book' %}" onsubmit="return book_submit()" method="POST">
            {% csrf_token %}
            <input type="hidden" name="busID" value="{{bus.id}}">
            <input type="hidden" name="date" value="{{busDate | date:'d-m-Y'}}">
            <input type="hidden" name="seatClass" value="{{seatClass}}">
            <input type="hidden" id="passengerCount" name="passengerCount" value="{{passengerCount}}">
            <input type="hidden" id="selectedSeats" name="selectedSeats" value="{{selectedSeats}}">
            <div class="row main-row">
                <div class="col-8">
                <div class="ticket-details">
                    <h5>Ticket Details</h5>
                    <hr>
                    <div class="row ticket-details-div">
                        <div class="col-5 airline-name">
                            <div class="brand">Bus ID: {{bus.id}}</div>
                            <div class="plane-name">{{bus.seat_class | capfirst}}</div>
                        </div>
                        <div class="col-5 depart-time">
                            <div class="time">Departure Time: {{bus.depart_time | time:'H:i'}}</div>
                            <div class="date ddate" data-value='{{busDate | date:"d-m-Y"}}'>Date: {{busDate | date:"D, d M y"}}</div>
                            <div class="place">{{bus.origin.city}} - {{bus.destination.city}}</div>
                        </div>
                    </div>
                   
                </div>
                <div class="traveller-details">
                    <div class="traveller-head">
                        <h5>Contact Information</h5>
                    </div>
                    <hr>
                    
                    <div class="row contact-details-div">
                        <div class="row form-group">
                            <div class="col-5 ci">
                                Mobile No
                                <input type="text" name="mobile" class="form-control" placeholder="Mobile No" required>
                            </div>
                            <div class="col-6 ci">
                                Email
                                <input type="email" name="email" class="form-control" placeholder="Email" required>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="send-email">
                        &nbsp;
                    </div>
                </div>
                
                <div class="payment-btn" style="background-color: transparent;">
                    <button type="submit" class="btn btn-primary btn-danger">Proceed to payment</button>
                </div>
                </div>
                <div class="col-4">
                    <div class="price-details">
                        <h5>Fare Summary</h5>

                        <hr>
                        <div class="row base-fare">
                            <div class="base-fae-label">Base Fare: </div>
                            <div class="base-fare-value">
                                ৳ <span> {{bus.fare}} </span>
                            </div>
                        </div>
                        <div class="row surcharges">
                            <div class="surcharges-label">Fee & Surcharges: </div>
                            <div class="surcharges-value">৳ <span>{{fee}}</span></div>
                            <input type="hidden" id="fee" value="{{fee}}">
                        </div>
                        <hr>
                        <div class="total-fare">
                            <div class="total-fare-label">Total Fare: </div>
                            <div class="total-fare-value">
                                ৳ <span> {{bus.fare | add:fee}} </span>
                            </div>
                        </div>
                    </div>
                    <div class="coupon-code">
                        <h5>Have a coupon code?</h5>
                        <hr>
                        <div class="row base-fare">
                            <div class="col-9" style="padding: 10px 10px 10px 0px">
                                <input type="text" name="coupon" class="form-control" placeholder="Coupon Code" style="text-transform: uppercase;">
                            </div>
                            <div class="col coupon-apply" style="padding: 10px 10px 10px 0px">
                                <center>
                                    <button type="button" class="btn btn-primary btn-danger">Apply</button>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col media-payment-btn">
                    <div>
                        <button type="submit" class="btn btn-primary btn-danger">Proceed to payment</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
{% endblock %}